<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>签到送豪礼</title>
<style>
#toast {
    display: none;
    position: fixed;
    padding: 9px 15px;
    background-color: #333;
    z-index: 8000;
    border-radius: 5px;
	font-size: 15px;
    color: #ffffff;
    line-height: 25px;
    text-align: center;

}
.active{background:url(../addons/meepo_bigerwall/template/realname/sub-bg.jpg) repeat-x;}
.white-font{color:#fff;}
.brand{
  width:33.3333%;
  float:left;
}
</style>
<link href="../addons/meepo_bigerwall/template/realname/css/weui.min.css" rel="stylesheet" type="text/css">
<link href="../addons/meepo_bigerwall/template/realname/css/example.css" rel="stylesheet" type="text/css">
<link href="../addons/meepo_bigerwall/template/realname/css/register.css" rel="stylesheet" type="text/css">
<link href="../addons/meepo_bigerwall/template/realname/css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../addons/meepo_bigerwall/template/realname/jquery-1.8.3.js"> </script>
<script type="text/javascript">
code = 'abcdef';
url = new Object();
checkMM();
$(document).ready(function(){
	parseUrl();
   $("#login").click(function(){
       checkval();
   });
});
function parseUrl()
{
	var tmp = location.search;
	if(tmp.indexOf("?")!=-1)
	{
		var str = tmp.substr(1);
		strs = str.split('&');
		for(var i=0; i<strs.length; i++)
		{
			url[strs[i].split('=')[0]] = strs[i].split('=')[1];
		}
	}
}
function checkval(){
    var i=$("#username").val();
    var s=$("#password").val();
    var p=$("#price").val();
    var y=$("#yanzheng").val();
    var b1 = $("#brand1").val();
    var b2 = $("#brand2").val();
    var b3 = $("#brand3").val();
    var bt = $("#buy_time").val();
    var regPartton=/1[3-8]+\d{9}/;
		if(i==''){
			$(".weui_dialog_alert .weui_dialog_bd").html("真实姓名必须填写");
			$(".weui_dialog_alert").show();
		   return;
		}
		if(s==''){
		  $(".weui_dialog_alert .weui_dialog_bd").html("手机号码必须填写");
		  $(".weui_dialog_alert").show();
		  return;
		}
    {if $ridwall['lurucheck']==1}
		if(!regPartton.test(s)){
				$(".weui_dialog_alert .weui_dialog_bd").html("手机号码是11位数字哦!");
				$(".weui_dialog_alert").show();
		        return;
		}
		{/if}
		if(code == 'abcdef')
		{
			$(".weui_dialog_alert .weui_dialog_bd").html("请点击发送验证码");
			$(".weui_dialog_alert").show();
			return;
		}
		if(y != code)
		{
			$(".weui_dialog_alert .weui_dialog_bd").html("验证码错误");
			$(".weui_dialog_alert").show();
			return;
		}
		$.ajax({
		type:"post",
		url:"{php echo $this->createMobileUrl('lurubasic',array('rid'=>$rid))}",
		dataType:'json',
		data:{'username':$("#username").val(),'password':$("#password").val()},
		success:function(json){
				  if(json.msg=='1'){
				  		$(".weui_dialog_alert .weui_dialog_bd").html("网络超时，签到失败，请重试");
						  $(".weui_dialog_alert").show();
				  }else if(json.msg=='error'){
				  		$(".weui_dialog_alert .weui_dialog_bd").html("验证错误，请重新输入");
						  $(".weui_dialog_alert").show();
				  }else{
				  	$.ajax({
					  		type:"post",
					  		url:"../addons/meepo_bigerwall/template/realname/update.php",
					  		dataType:"json",
					  		data:{'rid':url['rid'],'phone':s,'price':p,'brand1':b1,'brand2':b2,'brand3':b3,'buy_time':bt},
					  		success:function(json){
					  			$(".weui_dialog_alert .weui_dialog_bd").html("注册成功！跳转到签到页面");
  								$(".weui_dialog_alert").show();
  								$("#alert_btn").attr("onClick","");
  								$("#alert_btn").click(function(){
									setTimeout('refresh()',1000);
								});
					  		}
					  	});
				  }
		    }
		});
}
function refresh(){
		window.location.href = "{$go_url}";
 }
function checkMM() {


	var browser = {
		versions : function() {
			var u = navigator.userAgent, app = navigator.appVersion;
			return {
				trident : u.indexOf('Trident') > -1,
				presto : u.indexOf('Presto') > -1,
				webKit : u.indexOf('AppleWebKit') > -1,
				gecko : u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1,
				mobile : !!u.match(/AppleWebKit.*Mobile/)
						|| !!u.match(/Windows Phone/) || !!u.match(/Android/)
						|| !!u.match(/MQQBrowser/),
				ios : !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
				android : u.indexOf('Android') > -1 || u.indexOf('Linux') > -1,
				iPhone : u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1,
				iPad : u.indexOf('iPad') > -1,
				webApp : u.indexOf('Safari') > -1
			};
		}()
	}

	// if (browser.versions.ios == true || browser.versions.android == true
	// 		|| browser.versions.iPhone == true || browser.versions.iPad == true
	// 		|| browser.versions.mobile == true) {
	// }else{

	// 	window.location.href = 'error.html';
	// }
}
var _loading_toast= {
    _center: function() {
		var _left = ($(window).width() - $("#toast").outerWidth()) / 2 + "px";
        $("#toast").css({
            "top": "10%",
            "left": _left
        });
    },
    _show: function(text, fun) {
        $("#toast").html(text);
        _loading_toast._center();
        $("#toast").show();
        $("#toast").bind("resize", _loading_toast._center);
        setTimeout(function() {
            _loading_toast._hide(fun);
        }, 3 * 1000);
    },
    _hide: function(fun) {
        $("#toast").hide();
        $("#toast").unbind("resize");
        if (fun) {
            (fun)();
        }
    }
};

</script>

</head>
<body style="overflow:auto;">
	<div class="user gray-bg white-border-3 circle mt-20" style="background:url('http://car.kingdragon.mobi/we7/attachment/images/2/2017/03/HdWLKh4kMS6DGgFdNgNggqhBwfn4hd.jpg'); background-position:center center; background-size:cover;"></div>
	{if empty($check)}
    <p class="intro">欢迎参与车惠买签到抽奖活动</p>
    {else}
    <p class="intro">您已经参与了本次活动</p>
    {/if}

    {if empty($check)}
      <input type="text" class="text-input" placeholder="真实姓名" id="username" name="username" required />
        <input type="tel" class="text-input" placeholder="手机号码" maxlength="11" id="password" name="password" required />
        <div class="text-input">
            <input type="tel" class="yanzheng-left" placeholder="输入验证码" maxlength="6" id="yanzheng" name="yanzheng" style="color:#fff;" required/>
            <div class="yanzheng-right" style="background:url(../addons/meepo_bigerwall/template/realname/sub-bg.jpg) repeat-x;" onClick="sendSMS()" id="send">发送验证码</div>
        </div>
        <select class="text-input" name="option" id="price" style="width:34%; margin-left:15%; float:left; background:rgba(0,0,0,0.9);">
        	<option value="1"/>10万以下
            <option value="2"/>10万-20万
            <option value="3"/>20万-30万
            <option value="4"/>30万-50万
            <option value="5"/>50万以上
        </select>
        <select class="text-input" name="buy_time" id="buy_time" style="width:34%; float:left; margin-left:2%; background:rgba(0,0,0,0.9);">
        	<option value="1"/>最近购买
            <option value="2"/>3个月内购买
            <option value="3"/>6个月内购买
            <option value="4"/>1年内购买
            <option value="5"/>1年后购买
        </select>
        <script>
        $().ready(function()
          {
            var temp = parseInt(4*Math.random())+1;
            if(temp>5)
            {
              temp = 5;
            }
            $("#price").val(temp);
            temp = parseInt(4*Math.random())+1;
            if(temp>5)
            {
              temp = 5;
            }
            $("#buy_time").val(temp);
          });
        </script>
        <select class="text-input" name="brand1" id="brand1" style="width:30%; float:left; margin-left:2.5%; background:rgba(0,0,0,0.9);">
        	  <option value="1"/>宝马mini
            <option value="2"/>长安汽车
            <option value="3"/>江淮汽车
            <option value="4"/>东南三菱
            <option value="5"/>沃尔沃
            <option value="6"/>一汽奔腾
            <option value="7"/>长安福特
            <option value="8"/>陆风汽车
            <option value="9"/>通用别克
            <option value="10"/>雪铁龙
            <option value="11"/>广汽传祺
            <option value="12"/>东南汽车
            <option value="13"/>一汽奥迪
            <option value="14"/>上汽大通
            <option value="15"/>野马汽车
            <option value="16"/>奇瑞汽车
            <option value="17"/>雪弗兰
            <option value="18"/>吉利汽车
            <option value="19"/>进口大众
            <option value="20"/>上汽大众
            <option value="21"/>一汽大众
            <option value="22"/>长安马自达
            <option value="23"/>江铃福特
            <option value="24"/>斯柯达
            <option value="25"/>众泰汽车
            <option value="26"/>江铃汽车
        </select>
        <script>
          temp1 = 1;
          temp2 = 1;
          temp3 = 1;
          $().ready(function(){
            temp1 = parseInt(25*Math.random())+1;
            if(temp1>26)
            {
              temp1 = 26;
            }
            $("#brand1").val(temp1);
          });
        </script>
        <select class="text-input" name="brand2" id="brand2" style="width:30%; float:left; margin-left:2.5%; background:rgba(0,0,0,0.9);">
          <option value="1"/>宝马mini
          <option value="2"/>长安汽车
          <option value="3"/>江淮汽车
          <option value="4"/>东南三菱
          <option value="5"/>沃尔沃
          <option value="6"/>一汽奔腾
          <option value="7"/>长安福特
          <option value="8"/>陆风汽车
          <option value="9"/>通用别克
          <option value="10"/>雪铁龙
          <option value="11"/>广汽传祺
          <option value="12"/>东南汽车
          <option value="13"/>一汽奥迪
          <option value="14"/>上汽大通
          <option value="15"/>野马汽车
          <option value="16"/>奇瑞汽车
          <option value="17"/>雪弗兰
          <option value="18"/>吉利汽车
          <option value="19"/>进口大众
          <option value="20"/>上汽大众
          <option value="21"/>一汽大众
          <option value="22"/>长安马自达
          <option value="23"/>江铃福特
          <option value="24"/>斯柯达
          <option value="25"/>众泰汽车
          <option value="26"/>江铃汽车
        </select>
        <script>
          $().ready(function(){
            temp2 = temp1;
            while(temp2==temp1)
            {
              temp2 = parseInt(25*Math.random())+1;
            }
            if(temp2>26)
            {
              temp2 = 26;
            }
            $("#brand2").val(temp2);
          });
        </script>
        <select class="text-input" name="brand3" id="brand3" style="width:30%; float:left; margin-left:2.5%; background:rgba(0,0,0,0.9);">
          <option value="1"/>宝马mini
          <option value="2"/>长安汽车
          <option value="3"/>江淮汽车
          <option value="4"/>东南三菱
          <option value="5"/>沃尔沃
          <option value="6"/>一汽奔腾
          <option value="7"/>长安福特
          <option value="8"/>陆风汽车
          <option value="9"/>通用别克
          <option value="10"/>雪铁龙
          <option value="11"/>广汽传祺
          <option value="12"/>东南汽车
          <option value="13"/>一汽奥迪
          <option value="14"/>上汽大通
          <option value="15"/>野马汽车
          <option value="16"/>奇瑞汽车
          <option value="17"/>雪弗兰
          <option value="18"/>吉利汽车
          <option value="19"/>进口大众
          <option value="20"/>上汽大众
          <option value="21"/>一汽大众
          <option value="22"/>长安马自达
          <option value="23"/>江铃福特
          <option value="24"/>斯柯达
          <option value="25"/>众泰汽车
          <option value="26"/>江铃汽车
        </select>
        <script>
          $().ready(function(){
            temp3 = temp2;
            while(temp3==temp2 || temp3==temp1)
            {
              temp3 = parseInt(25*Math.random())+1;
            }
            if(temp3>26)
            {
              temp3 = 26;
            }
            $("#brand3").val(temp3);
          });
        </script>
        <input type="button" class="submit" name="login" value="立即参与" id="login"/>
    {else}
    	<div class="weui_btn weui_btn_primary" onclick="WeixinJSBridge.call('closeWindow');">返回</div>
    {/if}
	 <div class="weui_dialog_alert" style="display:none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
            <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
            <div class="weui_dialog_ft">
                <a href="#" class="weui_btn_dialog primary" onClick="hide();" id="alert_btn">确定</a>
            </div>
        </div>
    </div>
	 <script type="text/javascript">
	 function sendSMS()
	{
		if($("#password").val().length == 11)
		{
			$("#send").css("background","rgba(255,255,255,0.5)");
			var phone = $("#password").val();
			$.ajax({
				url:'../addons/meepo_bigerwall/template/realname/sms/sendSMS.php',
				type:'POST',
				data:{phone:phone},
				dataType:"json",
				success: function(data){
						console.log(data);
						if(data.status == 'true')
						{
							sms = true;
							code = data.code;
							console.log(code);
							$("#send").html("验证码已发送");
						}
						else
						{
							$(".weui_dialog_alert .weui_dialog_bd").html("短信发送失败，请检查您的手机号码");
							$(".weui_dialog_alert").show();
						}
					}
				});
		}
		else
		{
			$(".weui_dialog_alert .weui_dialog_bd").html("手机号码必须是11位");
			$(".weui_dialog_alert").show();
		}
	}
	function hide()
	{
		$(".weui_dialog_alert").hide();
	}
	 </script>
</body>

</html>
